%p
	= image_tag("http://backmybook.com/logo/#{@delivery_record.code}")
	To unsubscribe from this author's newsletter, please click here:  
	= link_to 'Unsubscribe', "http://backmybook.com/unsubscribe/#{@subscription.unsubscribe_code}"
</body>
</html>