Hi
= @user.name
, 


%p 
	We've cancelled your 
	= @order.sku.title
	subscription, effective immediately.  Please let us know if there is anything else we can do for you.
	
%p 
	Cheers,
	%br
	The BackMyBook Team
