%p
	Hello, Junkie!
%p
	If you're new in these parts, "Junkies" is the name the Sigler fans gave themselves many years ago. That means you is one, Junkie.		

-if @order.sku.title.match(/all-pro/i)

	%p
		You ordered THE ALL-PRO hardcover, and that includes getting THE ALL-PRO eBook for free. Please follow the link below to get your eBook. This link will only work for you, and it will only work once. The link will give you options as to what format you want: Mobi (for your Kindle) or ePub (for all other readers). 
	
-elsif @order.sku.title.match(/starter/i)
	
	%p
		You ordered THE STARTER hardcover, and that includes getting THE STARTER eBook for free. Please follow the link below to get your eBook. This link will only work for you, and it will only work once. The link will give you options as to what format you want: Mobi (for your Kindle) or ePub (for all other readers). 
		
%p
	Enjoy the read, and gooooooooooooooooooo KRAKENS!
	
%p
	- for item in @order.sku.items
		- if item.respond_to? 'document'
			= link_to item.title, deliver_asset_url( item, :order_id => @order.id )
			%br
