- content_for :left_column do
	= render :partial => 'admin/nav'
- content_for :middle_column do
	.form_group
		%h1 
			Edit Theme
		= form_for [@current_author, @edit_theme], :html => { :multipart => true } do |f|
			= render :partial => 'form', :locals => {:f => f, :m => 'Update'}
		
- content_for :right_column do
	%h2 Help