#confirm_book_list
	:margin 10px 10px auto
	:width 500px
	:border 1px solid #999
	:background #ddd url() no-repeat
.confirm_book_item
	:width 100%
	:padding 5px
.amzn_thumb
	:width 100px
	:float left
.amzn_data
	:float left
	:width 300px
.amzn_title
	:font-size 125%
.confirm
	:width 100px
	:float left
.book_title_field
	:width 500px
	:padding 5px
	:border 1px solid #555
	:font-size 150%

.form_group
	+rounded
	:border 1px solid #999
	:background-color #eee
	:width 90%
	:margin 0 auto
	:padding 20px

textarea
	+rounded
	:width 500px
	:height 150px
	:display block

.admin_title
	:float left
.new_button
	:margin-right 1em
	:float right
	:padding 5px
	:text-align center
	:width 160px
	:border 1px solid #aaa
	:background-color #eee
	:font-size 85%
	img
		:vertical-align middle

.admin_table
	:width 510px
	th
		:padding 5px
		:font-weight bold
		:text-align left
	td
		:padding 5px

#admin_hd
	:margin-top 10px
	:font-size 90%
	:font-weight bold
	:border-bottom 1px solid #999