.button a
	:display block
	:width 154px
	:height 25px
	// :font-size 18px
	:font-weight bold
	:text-align center
	:text-decoration none
	:text-transform capitalize
	:margin 5px auto
	:padding 12px 5px 1px 3px
	:clear both
	:background-image url("../images/buttons.png")
	:background-repeat no-repeat
.button a.blue
	:background-position -2px -119px
.button a.yellow
	:background-position -2px -2px
.button a.green
	:background-position -2px -41px
.button a.dark-gray
	:background-position -2px -80px
.button a:hover
	:background-position -2px -158px
.books:after
	+clearfix
	
.books
	:padding-top 15px
	h1
		:color #CE9322
		:line-height 1em
	p.blue
		:color $link
		
	.left_col
		:width 165px
		:margin-right 13px
	.right_col
		:float left
		:width 420px
		
	textarea
		:width 99%
			
	.ratings
		:width 52%
		:float right
		p
			:float left
			:width 83px
			:padding-top 4px
		.star-rating
			:float left
			:margin 0
		em
			:float right
			:margin-right 62px
			:text-transform uppercase
			:font-size 10px
	.reviews
		:margin 20px 0
	.book_content
		:padding 0 0 20px 0
	.new_review
		.ui-state-default
			:border 1px solid $link
			:background-color #f2f2f2
			:margin-top 6px
			+rounded
		.ui-state-hover
			:background-color #fff


		
	.book_thumb
		:text-align center
		:margin-bottom 10px
	.also-available
		:margin 20px 0
		h3
			:text-align center
			:border-bottom 1px solid #ccc
			:padding-bottom 16px
	.also-available
		:line-height 1.2em
		li
			:border-bottom 1px solid #ccc
			:padding 5px 1px 7px 2px
		& a
			:color #CE9322
			:font-size 12px
			:font-weight bold
		li:after
			+clearfix
		em
			:float right
			:width 28%
			:text-align center
			a
				:color $link
				:line-height 1em
				:text-transform uppercase
		a.main
			:float left
			:width 69%
.has-js
	.star_input
		:float left
		div.rating-cancel,
		div.star-rating
			:float left
			:width 25px
			:height 25px
			:margin 0
			:text-indent -999em
			:cursor pointer
			:display block
			:background transparent
			:overflow hidden
		div.rating-cancel,
		div.rating-cancel a
			:background url(../images/delete.gif) no-repeat 0 0
			:height 17px
		div.rating-cancel
			:margin 6px 0 4px 0
			:background-position 0 0
		div.star-rating,div.star-rating a
			:background url(../images/star2.png) no-repeat 0 -27px
		div.rating-cancel a,div.star-rating a
			:display block
			:width 25px
			:height 100%
			:border 0
		div.rating-cancel a
			:background-position 0 0
		div.rating-cancel a:hover
			:background-position 0 -16px
		div.star-rating-on a
			:background-position 0 0 !important
		div.star-rating-hover a
			:background-position 0 0
		div.star-rating-readonly a 
			:cursor default !important
		div.star-rating
			:background transparent!important
			:overflow hidden!important

	.radios 
		:padding 10px 0
	
		fieldset 
			:border 0
			:padding-bottom 9px
		label
			:display block
			:cursor pointer
			:line-height 20px
			:padding-bottom 9px
			:text-shadow 0 -1px 0 rgba(0,0,0,.2)
			:float left
			:width 20px
			:height 15px
		em
			:float left
			:font-size 14px
			:font-weight bold
			:padding-top 5px
			:text-transform capitalize
			:width 55px
	#comment
		.header
			.userinfo
				:float left
				:width 60%
				a
					:color #CE9322
			.star-rating
				:float right
.book-meta
	:margin 10px 0
	:font-weight bold
	p
		:margin 0
	.info
		:float left
		:width 47%
	em
		:color $link

.listing
	:margin 20px 0px
	:width 100%
	.listing_avatar
		:float left
		:width 14%
	.listing_data
		:float left
		:margin 0px 3px 3px 3px
		:padding-bottom 20px
		:width 80%
		:min-height 100px
		:border-bottom 1px solid #ccc
	.listing_title
		:font-size 22px
		:line-height 1.2em
		a
			:color #ce9322
		.book-meta
			:font-size 14px
			:color #666
			:margin 0 0 3px 0
	.listing_genre, .listing_buy
		:font-size 85%
	.info
		:float left
		:width 340px
		p
			:float left
			:margin 0 15px 3px 1px
	.book-info
		:float left
		:width 29%
	.listing_description,.ratings
		:float right
	.listing_description
		:width 68%
.store
	.listing_title
		:margin-bottom 12px
		:line-height 1.2em		
	.book-info
		:width 35%
	.listing_description		
		:width 57%
	.button a
		:margin-top 1px
		
.ui-accordion-content
	:font-size 85%
	.listing_title
		:font-size 19px
	.listing_avatar
		:width 23%
		img
			:width 80%
	.listing_data
		:width 70%
	.info, .ratings
		:float none
		:width 200px
	.info
		:font-size 12px
		p
			:margin 0 10px 0 0
	.info:after
		+clearfix
	.book-info,.listing_description
		:float none		
		:width 100%
	.book-info
		:margin-bottom 10px