.cpicker
	:width 80px
.book
	:margin 10px 0px
	.book_cover
		:float left
		:width 40px
	.book_data
		:float left
		:margin 0px 3px 3px 13px
	.book_title
		:color #ce9322
		:font-size 22px
	.book_genre, .book_buy_ebook, .book_buy_audio_book
		:font-size 85%
		
#user_avatar
	:float left
	:width 70px
#user_panel
	:float left
	:margin-left 1em
	
		
#edit_title
	:display none
#contact_form
	:display none
	
.pad_content
	:margin 10px
	
.small
	:font-size 85%
.user
	.pic
		:float left
	.name
		:margin-left 30px
		:float left
		:font-size 150%
	.data
		:clear both
		:font-size 85%

#price
	:display none
#unlock_req
	:display none

=shadow-right($x: 2px, $y: 0px, $offset: 4px)
	box-shadow: $x $y $offset #888888
	-moz-box-shadow: $x $y $offset #888888
	-webkit-box-shadow: $x $y $offset #888888

.home_left
	:width 600px
	:float left
	+shadow-right
	:min-height 500px
.home_right
	:width 376px
	:float right
	
.left_col
	:list-style none
	:width 130px
	:float left
.middle_col
	:float left
	:width 600px
.right_col
	:float right
	:width 250px
