#confirm_book_list
	:margin 10px 10px auto
	:width 500px
	:border 1px solid #999
	:background #ddd url() no-repeat
.confirm_book_item
	:width 100%
	:padding 5px
.amzn_thumb
	:width 100px
	:float left
.amzn_data
	:float left
	:width 300px
.amzn_title
	:font-size 125%
.confirm
	:width 100px
	:float left
	
#contact_form
	:display none
	
.pad_content
	:margin 10px
	
.small
	:font-size 85%
	
.book_title_field
	:width 500px
	:padding 5px
	:border 1px solid #555
	:font-size 150%

.form_group
	+rounded
	:border 1px solid #999
	:background-color #eee
	:width 90%
	:margin 0 auto
	:padding 20px

textarea
	+rounded
	:width 500px
	:height 150px
	:display block

#admin_hd
	:margin-top 10px
	:font-size 90%
	:font-weight bold
	:border-bottom 1px solid #999
	
	

=shadow-right($x: 2px, $y: 0px, $offset: 4px)
	box-shadow: $x $y $offset #888888
	-moz-box-shadow: $x $y $offset #888888
	-webkit-box-shadow: $x $y $offset #888888

.home_left
	:width 600px
	:float left
	+shadow-right
	:min-height 500px
.home_right
	:width 376px
	:float right
	
.left_col
	:list-style none
	:width 130px
	:float left
.middle_col
	:float left
	:width 600px
.right_col
	:float right
	:width 250px
