.home 
	.top_promo
		:border-bottom 1px solid #ccc
		:margin-bottom 10px
	#hd
		:background none
		:background-color #fff
		:border-bottom 1px solid #ccc
	#bd
		:border none
	.recent_posts
		:padding 0
		:margin-bottom 20px
		.text
			:padding 10px 10px 10px 0
		//	:background transparent url("../images/blog_post_bg.jpg") repeat-x left bottom
			:border-bottom 1px solid #98c8d9
	.recent_preview
		:padding-left 59px
		:background transparent url("../images/blog_post_icon.png") no-repeat 3% 0
	.recent_title
		:margin 0
		:padding 3px 3px 3px 0
		font-size: 110%
	ul.top_user_menu
		:margin-right 10px
	h1,h2
		:color #35c3ed
	.presentation
		:border-bottom 1px solid #ccc
		.col1
			:float left
			:width 46%
			:padding 18px
		.col2
			:float right
			:width 45%
			:padding 18px
			.steps
				:margin-top 10px
				:padding 5px 10px
				:width 80%
				li
					+rounded(8px)
					:background-color #e8e8e8
					:padding 5px 5px 10px 5px
					:margin-bottom 15px
				em
					:float left
					:font-size 50px
					:color #35c3ed
					:padding 0 5px
					:font-family 'Rochester', cursive
				p
					:margin 0
					:padding 6px 4px 2px 35px
					:line-height 20px
	#ft
		:background-color #111
		:border none

#container.home
	:background-color #fff
	
.home_nav
	li
		:float left
		:position relative
		:font-size 18px
	a
		:display block
		:padding 0 63px
		:line-height 25px
		:color #aec42f
		span
			:border-bottom 1px dashed
		&:hover
			:text-decoration none
	.sell
		a
			:color #35c4ee
	.social
		a
			:display inline
			:padding 0 3px

.testimonials
	:margin 15px 0
	:padding 10px 0 36px 106px
	:background url("../images/quote_top.jpg") no-repeat 0 0 transparent
	:border-bottom 1px solid #ccc
	ul
		:background url("../images/quote_bottom.jpg") no-repeat right bottom transparent
		:float left
		:width 100%
	li
		:position relative
		:float left
		:width 200px
		:height 300px
		:margin 0 5px
		:padding 17px 20px 0
		:border 1px solid #ddd
		+shadow
		+rounded(10px)
		.bold
			:font-weight bold
		.headshot
			:float left
			:margin 0 10px 5px 0
			img
				:width 80px

.banners_about
	:margin-bottom 20px
	h2
		:font-size 33px
		:padding 0 0 10px 10px
	h3
		:text-align center
		:color #aec42f
		:font-family 'Rochester', cursive
		:font-size 50px
	.col
		+rounded(10px)
		:float left
		:width 29.3%
		:margin 0 0 0 15px
		:padding 0 10px
		:background-color #e8e8e8
		:min-height 165px
		span
			:text-align right
			:clear both
			:padding-top 3px
			:display block
		a
			:color #35c4ee
	.col1

.hp_promo 
	:padding 10px 0 10px 3px

		