// Globals
$width-main: 100%
$page-width: 980px
$link: #0085ae
$border-color: #cccccc
$tab-font: 14px

=flash( $color ) 
	:border 2px solid $color
	:cursor pointer
	:padding 9px 10px 10px 15px

// Functions
=clearfix
	:content "."
	:display block
	:height 0
	:clear both
	:visibility hidden

=rounded($radius: 4px)
	-moz-border-radius: $radius
	-khtml-border-radius: $radius
	-webkit-border-radius: $radius
	border-radius: $radius

=rounded-sides($side, $radius: 4px)
	-moz-border-radius-#{$side}left: $radius
	-webkit-border-#{$side}-left-radius: $radius
	border-#{$side}-left-radius: $radius
	-moz-border-radius-#{$side}right: $radius
	-webkit-border-#{$side}-right-radius: $radius
	border-#{$side}-right-radius: $radius

=rounded-right($side, $radius: 4px)
	-moz-border-radius-#{$side}right: $radius
	-webkit-border-#{$side}-right-radius: $radius
	border-#{$side}-right-radius: $radius

=rounded-left($side, $radius: 4px)
	-moz-border-radius-#{$side}left: $radius
	-webkit-border-#{$side}-left-radius: $radius
	border-#{$side}-right-radius: $radius

=shadow($x: 1px, $y: 2px, $offset: 8px)
	box-shadow: $x $y $offset #888888
	-moz-box-shadow: $x $y $offset #888888
	-webkit-box-shadow: $x $y $offset #888888

=top_menu($side: right)
	:padding 7px 0
	:margin-left 20px
	li
		:float left
		:margin-#{$side} 20px
		a
			:vertical-align baseline
			:font-size 11px
			:font-weight bold
			:padding 3px 14px 3px 2px
			:background transparent url("../images/arrow_rt.jpg") no-repeat 100% 44%

=footer_menu($side: right)
	:padding 7px 0
	:margin-left 20px
	:color #fff
	li
		:float left
		:margin-#{$side} 8px
		a
			:vertical-align baseline
			:font-size 11px
			:font-weight bold
			:padding 3px 14px 3px 2px
			:color #fff

body, input, textarea
	:font-family Arial, Verdana, sans-serif
	:font-size 16px

body
	:color #707070
	:background white url("../images/bg.jpg")

a
	:color $link
	:text-decoration none
	&:hover
		:text-decoration underline

// Gks temp hacks 
label
	:display block
	
h1
	:font-size 200%
h2
	:font-size 175%
h3
	:font-size 135%
h1, h2, h3
	:color $link
	:margin 0 0 4px 1px

#container
	:min-height 600px

.clear
	:clear both
	
/* =Structure */

#container
	:width $width-main

#bd, #ft
	:margin auto
	:width $page-width

#bd
	:background-color #fff
	:border 1px solid #b0d3e1
	:border-bottom none
	+rounded-sides(top, 5px)

.column1, .column2
	:float left

.column1
	:width 65.5%

.author_bd .column1
	:background white url("../images/content_bg.jpg") repeat-y right top

.column2
	:width 34.4%

input[type="text"],input[type="password"], textarea
	:padding 2px
	:background #f9f9f9
	:border 1px solid $border-color

input[type="text"]
	+rounded
	
input[type="password"]
	+rounded
label
	:padding 4px 3px
.book_title_field
	:width 600px
	:padding 5px
	:border 1px solid #555
	:font-size 150%

/* =Layout */

.search_form input[type="text"]
	:float right
	:border 1px solid #ddd
	:color #666
	:margin-top 3px
	:padding 0 3px 1px 6px
	:width 180px
	:height 18px
	:background-color #fff

.text
	:line-height 1.4em

// Flashes
#flash
	:width 96%
	:margin 20px auto
	.error
		:background #ffd1d6 url(../images/close_error.png) 99.5% 19% no-repeat
		+flash( #ff3333 )
	.success
		:background #e6efc2 url(../images/close_success.png) 99.5% 19% no-repeat
		+flash( #c6d880 )
	.notice
		:background #fff6bf url(../images/close_notice.png) 99.5% 19% no-repeat
		+flash( #ffd324 )
		