#admin_hd  Your Website

%li= link_to "Blog", admin_blog_index_url
%li= link_to "Links", admin_links_url
%li= link_to "Events", admin_events_path

- if @current_user.admin?( @current_site )
	= render 'admin/admin_nav'