- content_for :left_column do
	= render :partial => 'nav'
- content_for :middle_column do
	.form_group
		%h1 Manage Account Information
		
		%h2 Subscriptions
		%br
		%br

		-if @current_author.user.subscribings.empty?
			-# todo Fix Path
			= link_to 'Purchase Author Premium Subscription', root_path
		-else 
			%h2 Existing Subscriptions
			%table
				%tr
					%td 
						%b Subscription Title
					%td
						%b Actions

				- for sub in @current_author.user.subscribings
					%tr{:class => cycle(:odd, :even)}
						%td
							=sub.subscription.title 
							,
							=sub.id
							,
							=sub.profile_id
						%td
							- if sub.status == 'ActiveProfile'
								=link_to 'Cancel', cancel_subscribing_path( sub ) 
		
		
- content_for :right_column do
	= render 'shared/help'