%p
	=f.label 'Name (required)'
	=f.text_field :title

%p
	=f.label 'Price (USD)'
	=f.text_field :price, :size => 10
	
%p
	- if @merch && @merch.artwork
		= image_tag @merch.artwork(:thumb)
	=f.label 'Picture'
	=f.file_field :artwork
	
	
=f.submit m, :class => :button
	