<%= form_for(@merch) do |f| %>
  <% if @merch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@merch.errors.count, "error") %> prohibited this merch from being saved:</h2>

      <ul>
      <% @merch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
