%h2 FAQs

%h4 Will the eBooks work on my eReader?

%p
	After purchase, we send you a link to download in files for Kindle, Nook, iPad, and any reader that takes the ePub format. We also include links on how to get your new eBook onto Kindle, Nook and iPad. If you have another reader that takes ePub, just consult the manufacturer's site to see how to add the file.
%h4 Glad to hear the files will work, but how do I get them onto my eReader?
%p
	Every eReader is a bit different, so it's hard to give a one-size-fits-all answer to this question.  We recommend consulting your specific eReader's documentation.  Here are some resources for the most common readers:
	
%li.indent
	Kindle owners may want to start
	= link_to 'here.', "http://www.amazon.com/gp/help/customer/display.html?nodeId=200505520&#email"
%li.indent
	Nook owners should definitely 
	= link_to 'check this out', "http://www.barnesandnoble.com/nook/container/standard_bothnavs.asp?PID=35677#"
	(specifically, the video for #6).
%li.indent
	And iPad folks should 
	= link_to 'read this.', "http://www.apple.com/itunes/itunes-news/2010/04/using-itunes-to-add-epub-files-to-ibooks.html"

%br

%h4 Can I order more than one thing? Where's my shopping cart?

%p
	Absolutely! You can order however many different items you like, but the "continue shopping" option is still pending.  Instead, if you don't see the combo you want, you'll have to place multiple orders for now.  We're working on adding the shopping cart functionality.


