- content_for :left_column do
	= render :partial => 'admin/nav'
- content_for :middle_column do
	Awesome value prop here
	%br
	Buy Platform Subscription Button here
	
	%br
	%br	
- content_for :right_column do
	More benefits here