- content_for :left_column do
	= @author.promo_content
	
	%hr
	%h2 Recent Blog Posts
	- for article in @author.articles.recent
		= render article
		
	%hr
	%h2 Recent Forum Topics
	- for topic in @author.forums.first.topics.recent
		%h3= link_to topic.title, author_forum_topic_path( @author, @author.forums.first, topic )
- content_for :right_column do
	&nbsp;