- content_for :left_column do
	%h1 Headline 1
	%h2 Headline 2
	%h3 Headline 3
	.text
		text goes here, should all be fine
		=link_to "body text link", "#"
				
- content_for :right_column do
	= render :partial => 'right_column'
			
					