- content_for :left_column do
	.outline{ :style => 'width:80%;margin:auto;padding:20px;text-align:center;' }
		%h3
			= possessize @author.pen_name
			site is under construction.  Please come back later -- thanks for your patience!