-# TODO - finish putting in display and download logic once book model is flushed out

- if @coupon.redemptions.empty?
	%h2 
		Click here to download 
		=@redeemable.title
	%br
	-if @redeemable.is_a? Book
		- unless @redeemable.assets.empty?
			#bookActionButtons
				%h3 Available in these formats:
				%br

				- for asset in @redeemable.assets
					= asset.title
				%br
				%br
				Note: You'll only be able to download one format, so choose carefully.
				%br
				%br
		= link_to redeem_coupon_path @coupon
	-elsif @redeemable.is_a? Asset 
		= link_to asset_path( @redeemable )
	-elsif @redeemable.is_a? Sku
		= link_to sku_path( @redeemable )
	-else
		Sorry, could not find the item.  Please contact customer support.  

- else
	%h3 Sorry, this code has already been redeemed.