-content_for :left_column do
	%h3 
		Download 
		=@sku.title
	%br
	-if @sku.contains_etext?
		You can download digital items using the links below:
		%br	
		- for sku_item in @sku.sku_items
			= link_to sku_item.item.title, deliver_asset_url( sku_item.item, :order_id => @order.id)
			%br
		%br
		Note: You will only be able to download one format without logging in or registering.
		%br
		EPUB format is compatible with the Nook, iPad, and Sony Reader.
		%br
		MOBI format is compatible with the Kindle.
		%br
		%br
		
