= form_tag do 
	%b Start Date:
	= text_field_tag :start_date, @start_date, :size => 10, :class => 'datepicker'
	&nbsp;&nbsp;&nbsp;&nbsp;
	%b End Date:
	= text_field_tag :end_date, @end_date, :size => 10, :class => 'datepicker'
	= submit_tag 'Set', :class => 'buttons'