- content_for :left_column do
	= render :partial => 'admin/nav'
- content_for :middle_column do
	.form_group
		%h1 
			Edit Sku
		-form_for [ @current_author, @sku ], :html => { :multipart => true } do |f|
			= render :partial => 'form', :locals => {:f => f, :m => 'Update'}
		%br
	%br	
	.form_group
		= render :partial => 'sku_item_listing'
		
- content_for :right_column do
	= render 'shared/help'
