%p
	=form.label :email, "Your Email:"
	%br
	- if @current_user.anonymous?
		=form.text_field :email
	- else
		=form.text_field :email, :value => @current_user.email
%p
	=form.label :subject, "Subject:"
	%br
	=form.text_field :subject
%p
	=form.text_area :content, :rows => 12, :cols => 72
%br
=form.submit 'Enter', :class=>'buttons'
|
= link_to "Cancel", root_url