- content_for :left_column do
	= image_tag( @book.avatar.location('thumb') ) if @book.has_attached_avatar?
	%h1= @book.title
	%br
	By
	= @book.author.pen_name
	%br
	%br
	= @book.description
	


- content_for :right_column do
	&nbsp;