- content_for :left_column do
	= render :partial => 'admin/nav'
- content_for :middle_column do
	.form_group
		%h1 
			New Asset
			- if @book
				for:
				= @book.title
			
		= form_for [ @current_author, @sku, @asset ], :html => { :multipart => true } do |f|
			= render :partial => 'form', :locals => {:f => f, :m => 'Create'}
		
- content_for :right_column do

	%h3 
		Upload eBook Tips
	%p
		Replace etext in the Title with the format (epub/mobi/etc.) or the ereader version (iPad/Nook/Kindle/etc.).
	%p
		Select the correct 'Pricing Type'.  If this is the first ebook format uploaded for a Title, selecting 'For Sale' will allow you to enter a price for the eBook edition.
	