Description:
%br
=f.text_field :description
%br

Subject:
%br
=f.text_field :subject
%br

%br
= f.text_area :content, :class => 'editor'

%br
= f.hidden_field :template_type, :value => 'custom'
= f.submit 'Save' , :class => 'buttons'
|
= link_to 'Cancel', :back