Description:
%br
=f.text_field :description
%br

Subject:
%br
=f.text_field :subject
%br

%br
= f.text_area :content, :class => 'editor'

%br
= f.hidden_field :template_type, :value => @email_template.template_type
= f.submit 'Save' 
|
= link_to 'Cancel', :back