.float_left
	<iframe width="420" height="345" src="http://www.youtube.com/embed/ej8-Rqo-VT4" frameborder="0" allowfullscreen></iframe>
.float_left{ :style => 'margin-left:50px;'}
	%h2
		Blah ablah ablha
	%p
		kl dflks d flksjd   fsdf sdf sdfsdf f

