- content_for :left_column do
	%p
		%b Want to buy more than one item? 
		Simply purchase one of the items or combos of items below. If you don’t find a combo that has everything you need, just make multiple purchases.
		%p
		%b STARTER Hardcover Owners Free eBook Offer: 
		For anyone who has purchased or purchases the hardcover of THE STARTER, we are offering a Free eBook! The Free STARTER eBook does not apply to any package you see on this page. For more information click here
	- for sku in @skus
		= render 'item_listing', :sku => sku

		
- content_for :right_column do
	&nbsp;